@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  font-family: 'Righteous', cursive;
  background-color: #A459D1;
}

#mokepones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: #FFB84C;
  font-size: 48px;
}

.subtitulo{
  color: #F5EAEA;
  font-size: 24px;
}

.cards {
  display: flex;
  gap: 10px;
}

.card-mokepon {
  width: 200px;
  height: 150px;
  color: #F5EAEA;
  background-color: #F16767;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-mokepon img {
  width: 40%;
}

input {
  display: none;
}